/* Header.css */

ul{
    margin: 0 !important;
  
}
li{
    display: inline;
    padding: 10px;
    justify-content: space-around;
}

a{
    color: #e3e3e4 !important;
    text-decoration: none !important;
    transition: 0.5s;
}
a:hover{
    color: #ffffff !important;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1b8ed1;
    font-weight: 500;
    color: #000000;
    position: relative;
    padding: 10px 0;
}

.header-logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #e3e3e4;
}
.login-btn , .btn-logout{
    background-color: #ffffff;
    text-decoration: none;
    color: #6c5ce7 !important;
    border: none;
    font-weight: 500;
    padding: 8px 20px;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin-right: 10px;
}
.login-btn:hover {
    background-color: #6c5ce7;
    color: #ffffff;
}
.user-name{
    font-weight: 500;
    color: #f7f1e3;
    font-size: 14px !important;
}

