.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
  
}
.background{
    background-color: #f5f6fa;
}
.login-container {

    background-color: #f6f9fa;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;

}
.login-form{
margin: 20px 0;
}

.create-account{
    color: #6c5ce7 !important;
}
.create-account:hover{
    color: rgb(6, 179, 121) !important;
}
.create-user{
    font-weight: 500;
}

.login-button {
    width: 100%;
    padding: 0.75rem;
    background-color: #6c5ce7;
    border: none;
    border-radius: 30px;
    margin-top: 15px;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
 label {
    display: block;
    margin-bottom: 0.5rem;
    color: #555;
    font-weight: 500;
    margin: 10px 0;
}

 input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 30px;
    font-size: 1rem;
}


.g-img{
    width:20px;
    height: 20px;
}
.g-btn {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.75rem;
    background-color: #ffffff;
    border: 1px solid #ddd !important;
    border: none;
    font-size: 14px !important ;
    border-radius: 30px;
    color: #1f1e1e;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.g-btn-text{
    font-weight: 500;
    color: #1f1e1e;
}
.varify-btn{
    width: 40%;
    display: flex;
    font-size: 14px !important ;
    align-items: center;
    justify-content: space-around;
    padding: 0.75rem;
    background-color: #f7cece;
    border: 2px solid #fff !important;
    border: none;
    border-radius: 30px;
    color: #1f1e1e;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
}